<div class="container">
  <h2 class="my-5">Employee Details</h2>

  <div class="col-4">
    <form (ngSubmit)="saveEmployee()">
      <div class="mb-2">
        <label for="name" class="form-label">Id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          [(ngModel)]="detailsEmployeeRequest.id"
          name="id"
          readonly
          disabled
        />
      </div>
      <div class="mb-2">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="detailsEmployeeRequest.name"
          name="name"
        />
      </div>
      <div class="mb-2">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="detailsEmployeeRequest.email"
        />
      </div>
      <div class="mb-2">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="detailsEmployeeRequest.phone"
        />
      </div>
      <div class="mb-2">
        <label for="salary" class="form-label">Salary</label>
        <input
          type="number"
          class="form-control"
          id="salary"
          name="salary"
          [(ngModel)]="detailsEmployeeRequest.salary"
        />
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input
          type="text"
          class="form-control"
          id="department"
          name="department"
          [(ngModel)]="detailsEmployeeRequest.department"
        />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button
        (click)="onDelete(detailsEmployeeRequest.id)"
        class="btn btn-danger mx-2"
      >
        Delete
      </button>
    </form>
  </div>
</div>
