<div class="container my-5">
  <h2 class="mb-3">All Employees</h2>
  <table
    *ngIf="employees && employees.length > 0"
    class="table table-dark table-striped"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
        <td><a [routerLink]="['/employees', 'edit', employee.id]">View</a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="employees.length === 0">No employees found</p>
</div>
